---
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";

const commands = [
  {
    name: "play",
    description: "Plays a song from YouTube or Spotify.",
    usage: "play <song>",
    example: "play https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
  {
    name: "playlist",
    description: "Creates a playlist.",
    usage: "playlist <name>",
    example: "playlist my-playlist",
  },
  {
    name: "remove",
    description: "Removes a song from a playlist.",
    usage: "remove <song>",
    example: "remove https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
  {
    name: "add",
    description: "Adds a song to a playlist.",
    usage: "add <song>",
    example: "add https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
];

const commandUsages = [
  {
    name: "play",
    description: "Plays a song from YouTube or Spotify.",
    usage: "play <song>",
    example: "play https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
  {
    name: "playlist",
    description: "Creates a playlist.",
    usage: "playlist <name>",
    example: "playlist my-playlist",
  },
  {
    name: "remove",
    description: "Removes a song from a playlist.",
    usage: "remove <song>",
    example: "remove https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
  {
    name: "add",
    description: "Adds a song to a playlist.",
    usage: "add <song>",
    example: "add https://www.youtube.com/watch?v=dQw4w9WgXcQ",
  },
];

const commandCategories = [
  {
    name: "Music",
    description: "Music commands for Vilbot.",
    commands: [
      {
        name: "play",
        description: "Plays a song from YouTube or Spotify.",
        usage: "play <song>",
        example: "play https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
      {
        name: "playlist",
        description: "Creates a playlist.",
        usage: "playlist <name>",
        example: "playlist my-playlist",
      },
      {
        name: "remove",
        description: "Removes a song from a playlist.",
        usage: "remove <song>",
        example: "remove https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
      {
        name: "add",
        description: "Adds a song to a playlist.",
        usage: "add <song>",
        example: "add https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
    ],
  },
  {
    name: "Playlist",
    description: "Playlist commands for Vilbot.",
    commands: [
      {
        name: "play",
        description: "Plays a song from YouTube or Spotify.",
        usage: "play <song>",
        example: "play https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
      {
        name: "playlist",
        description: "Creates a playlist.",
        usage: "playlist <name>",
        example: "playlist my-playlist",
      },
      {
        name: "remove",
        description: "Removes a song from a playlist.",
        usage: "remove <song>",
        example: "remove https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
      {
        name: "add",
        description: "Adds a song to a playlist.",
        usage: "add <song>",
        example: "add https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      },
    ],
  },
];
---

<Layout
  title="Commands - Vilbot"
  description="A bot for Discord that allows you to play music in your Discord server."
>
  <section>
    <Typography as="h1" variant="title" color="white"> Commands </Typography>
  </section>
  <section class="my-8 space-y-4">
    <div>
      <ul class="flex border-b border-white/10">
        <li
          class="py-2 px-4 border-b-2 border-transparent transition-colors duration-300 hover:border-fuchsia-400"
        >
          <Typography as="span" variant="body" color="white"> All </Typography>
        </li>
        {
          commandCategories.map((category) => (
            <li class="group py-2 px-4 border-b-2 border-transparent transition-colors duration-300 hover:border-fuchsia-400">
              <Typography
                as="span"
                variant="body"
                color="zinc"
                class="transition duration-300 group-hover:text-white"
              >
                {category.name}
              </Typography>
            </li>
          ))
        }
      </ul>
    </div>
    {
      commands.map((command) => (
        <div class="flex items-center gap-6 text-white px-8 py-4 rounded-lg border border-white/5 bg-zinc-400/5 transition-all duration-300 hover:border-fuchsia-400 hover:-translate-y-1 group">
          <span class="p-3 bg-white/5 rounded-lg group-hover:bg-fuchsia-400/10 group-hover:text-fuchsia-400">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M17 5l-10 14" />
            </svg>
          </span>
          <div>
            <Typography as="h3" variant="h4" color="white">
              {command.name}
            </Typography>
            <Typography as="p" variant="body" color="gray">
              {command.description}
            </Typography>
          </div>
        </div>
      ))
    }
  </section>
</Layout>
