---
import Layout from "../layouts/Layout.astro";

const inviteBotUrl = import.meta.env.PUBLIC_INVITE_BOT_URL;
---

<Layout title="Vilbot - The awesome Discord Music Bot for your server!">
  <section class="container mx-auto px-4 py-48 text-center">
    <h2 class="text-6xl md:text-7xl lg:text-9xl font-bold mb-2">Vilbot</h2>
    <div class="space-y-4 mb-12">
      <p class="text-black text-xl font-bold inline-block px-4 py-2">
        The awesome Discord Music Bot for your server!
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <a
        href={inviteBotUrl}
        class="bg-white border-4 border-black text-black font-bold text-xl px-8 py-3 rounded-full hover:bg-opacity-90 duration-300 hover:scale-110 transition uppercase inline-block"
        target="_blank"
      >
        Invite Vilbot
      </a>
    </div>
  </section>
</Layout>
