---
import Layout from "../layouts/Layout.astro";

const inviteBotUrl = import.meta.env.PUBLIC_INVITE_BOT_URL;
---

<Layout title="Vilbot - The awesome Discord Music Bot for your server!">
  <section class="container mx-auto px-4 py-48 text-center m-auto">
    <h2 class="text-6xl md:text-7xl lg:text-9xl font-bold mb-2 text-[#fe83e8]">
      Vilbot
    </h2>
    <div class="space-y-4 mb-12">
      <p class="text-white text-xl font-bold inline-block px-4 py-2">
        The awesome Discord Music Bot for your server!
      </p>
    </div>
    <div>
      <a
        href={inviteBotUrl}
        class="flex items-center justify-center gap-2 text-lg px-4 py-2 text-white transition bg-blue-600 hover:bg-blue-700 disabled:bg-blue-500 w-fit mx-auto"
        target="_blank"
      >
        Invite Vilbot
      </a>
    </div>
  </section>
</Layout>
