---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import MusicalNoteIcon from "../icons/MusicalNote.astro";
import PlaylistIcon from "../icons/Playlist.astro";
import PlayerPlayIcon from "../icons/PlayerPlay.astro";
import Typography from "../components/Typography.astro";

const inviteBotUrl = import.meta.env.PUBLIC_INVITE_BOT_URL;
const discordUrl = import.meta.env.PUBLIC_DISCORD_URL;

const features = [
  {
    icon: MusicalNoteIcon,
    title: "Music",
    description:
      "Vilbot is a Discord music bot that plays music from YouTube, and Spotify. It supports YouTube playlists, Spotify playlists with a simple command.",
  },
  {
    icon: PlaylistIcon,
    title: "Playlist",
    description:
      "You can create your own playlist with Vilbot. You can add, remove, and play your playlist with a simple command.",
  },
  {
    icon: PlayerPlayIcon,
    title: "Web Player",
    description:
      "You can listen to music with Vilbot's web player. You can control the music, queue, and more with the web player.",
  },
];
---

<script>
  const req = await fetch(
    "https://api.github.com/repos/Vilbot-org/bot/releases/latest"
  );
  const { tag_name } = await req.json();

  const releaseTag = document.getElementById("release-tag");

  if (!releaseTag) {
    throw new Error("Element with id 'release-tag' not found");
  }

  if (releaseTag && !tag_name) {
    releaseTag.remove();
  }

  releaseTag.innerText = tag_name;
  releaseTag.classList.remove("opacity-0");
  releaseTag.classList.add("opacity-60");
</script>

<Layout
  title="Vilbot - The awesome Discord Music Bot for your server!"
  description="The awesome Discord Music Bot for your server!"
>
  <section class="-mt-12 relative">
    <div
      class="absolute -z-10 left-1/2 -translate-x-1/2 top-0 h-[25rem] max-w-[81.25rem] w-screen [mask-image:linear-gradient(white,transparent)]"
    >
      <div
        class="absolute inset-0 bg-gradient-to-r [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] from-fuchsia-400/30 to-violet-400/30 opacity-100"
      >
      </div>
    </div>
    <section class="mx-auto px-4 py-48 text-center m-auto">
      <div
        id="release-tag"
        class="w-fit text-sm ring-1 ring-fuchsia-400 text-fuchsia-400 py-1 px-2 mx-auto rounded-full opacity-0 mb-2 transition-all duration-300"
      >
        v0.0.0
      </div>

      <h1
        transition:name="site-logo"
        class="vilbot text-6xl md:text-7xl lg:text-8xl font-bold mb-2 text-fuchsia-400 tracking-wider"
      >
        Vilbot
      </h1>

      <div class="space-y-4 mb-6">
        <p class="text-gray-300 text-lg inline-block px-4 py-2">
          The awesome Discord Music Bot for your server!
        </p>
      </div>
      <div class="flex justify-center gap-4">
        <Button as="a" color="fuchsia" href={inviteBotUrl} target="_blank">
          Invite Vilbot
          <svg
            viewBox="0 0 20 20"
            fill="none"
            aria-hidden="true"
            class="mt-0.5 h-5 w-5 -mr-1 transition-all duration-300 group-hover:translate-x-1"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m11.5 6.5 3 3.5m0 0-3 3.5m3-3.5h-9"
            >
            </path>
          </svg>
        </Button>
        <Button as="a" color="zinc" href={discordUrl} target="_blank">
          Join to Discord
        </Button>
      </div>
    </section>
  </section>

  <section class="py-16">
    <Typography as="h2" color="white" variant="h3" class="mb-8">
      Main Features
    </Typography>
    <div class="grid grid-cols-3 gap-8" aria-label="Main Features">
      {
        features.map((feature) => (
          <div class="border border-white/15 rounded py-4 px-6 transition hover:border-fuchsia-400">
            <Typography
              as="h3"
              color="white"
              variant="h4"
              class="flex items-center gap-2 mb-2"
            >
              <span class="flex items-center justify-center size-10 rounded-full bg-fuchsia-400/10">
                <feature.icon class="size-6 text-fuchsia-400" />
              </span>
              {feature.title}
            </Typography>
            <Typography
              as="p"
              color="zinc"
              variant="body"
              class="flex items-center"
            >
              {feature.description}
            </Typography>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
