---
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Privacy Policy - Vilbot"
  description="Privacy Policies for Vilbot"
>
  <section class="container mx-auto py-12">
    <Typography as="h1" color="white" variant="big" class="mb-2">
      Privacy Policy
    </Typography>
    <Typography as="p" color="gray" variant="body">
      Effective Date: 13 September 2024
    </Typography>
    <Typography as="p" color="gray" variant="body">
      At Vilbot, we prioritize your privacy. This privacy policy outlines how we
      handle and protect any personal information you may provide when using our
      services.
    </Typography>
    <section>
      <Typography as="h3" color="gray" variant="h3">
        Website Privacy
      </Typography>
      <Typography as="p" color="gray" variant="body">
        Our website is solely designed to display information about Vilbot. We
        do not track or collect any personal information from users who visit
        our site. No third-party cookies or tracking services are used.
      </Typography>
    </section>
    <section>
      <Typography as="h3" color="gray" variant="h3">
        Discord Bot Privacy
      </Typography>
      <Typography as="p" color="gray" variant="body">
        Vilbot does not collect any additional information beyond what is
        provided by the official Discord API. The data used by Vilbot is limited
        to the information of users within a Discord guild that has added the
        bot. This information is solely used for the internal functioning of the
        bot and is not shared with any third parties.
      </Typography>
    </section>
    <section>
      <Typography as="h3" color="gray" variant="h3"> Data Usage </Typography>
      <Typography as="p" color="gray" variant="body">
        Vilbot only accesses and uses the data provided by Discord (such as user
        IDs, usernames, and server information) to ensure the bot functions
        properly within Discord guilds where it is present. No personal data is
        stored or used for purposes outside of the bot's operation.
      </Typography>
    </section>
    <section>
      <Typography as="p" color="gray" variant="body">
        If you have any questions or concerns regarding your privacy while using
        Vilbot, please feel free to contact us at GFrancV Github.
      </Typography>
    </section>
  </section>
</Layout>
