---
import Typography from "../components/Typography.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Terms of Service - Vilbot"
  description="Terms of Service to use Vilbot"
>
  <section class="container mx-auto py-12">
    <Typography as="h1" color="white" variant="big" class="mb-2">
      Terms of Service
    </Typography>
    <Typography as="p" color="gray" variant="body">
      Effective Date: 13 September 2024
    </Typography>
    <Typography as="p" color="gray" variant="body">
      By using Vilbot, you agree to the following terms and conditions. If you
      do not agree with any part of these terms, please do not use the bot.
    </Typography>

    <section>
      <Typography as="h3" color="gray" variant="h3"> Purpose </Typography>
      <Typography as="p" color="gray" variant="body">
        Vilbot is designed purely for entertainment purposes. The project is
        open-source and has no commercial intent. It is developed and maintained
        by a group of contributors who are not responsible for any use of Vilbot
        outside of its intended entertainment context. Any misuse of Vilbot or
        deviation from its intended purpose is not the responsibility of the
        creators or contributors to the project.
      </Typography>
    </section>
    <section>
      <Typography as="h3" color="gray" variant="h3">
        Open-Source Licensing
      </Typography>
      <Typography as="p" color="gray" variant="body">
        The source code for Vilbot is publicly available on GitHub. Anyone is
        free to view, modify, and create derivative works based on the original
        code of Vilbot. Any modifications or versions of Vilbot created by third
        parties must not be used for commercial purposes. Derivative works or
        modified versions should respect the original intent of the project and
        maintain its non-commercial nature.
      </Typography>
    </section>
    <section>
      <Typography as="h3" color="gray" variant="h3"> Disclaimer </Typography>
      <Typography as="p" color="gray" variant="body">
        Vilbot is provided "as is" without warranty of any kind, either express
        or implied. The contributors and developers are not liable for any
        issues, bugs, or problems that arise from the use of Vilbot. By using
        any version of Vilbot or its derivatives, you acknowledge and accept
        that the creators of the original bot bear no responsibility for any
        issues that may arise from third-party versions or modifications.
      </Typography>
    </section>
  </section>
</Layout>
