---
interface Props {
	items: {
		title: string
		url: string
	}[]
}

const { items } = Astro.props
---

<div class="space-y-2 py-4">
	{
		items.map(item => (
			<a href={item.url} class="block px-3 py-2 text-white hover:bg-[#1c2644]">
				{item.title}
			</a>
		))
	}
</div>
