---
interface Props {
	items: {
		title: string
		url: string
	}[]
}

const { items } = Astro.props
---

<ul class="flex text-gray-400">
	{
		items.map(item => (
			<li>
				<a href={item.url} class="underline-animate px-4 py-2 transition">
					{item.title}
				</a>
			</li>
		))
	}
</ul>
