---
import Discord from "../icons/Discord.astro";
import Github from "../icons/Github.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const discordUrl = import.meta.env.PUBLIC_DISCORD_URL;
const githubRepo = import.meta.env.PUBLIC_GITHUB_REPO;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col min-h-screen bg-gradient-to-b from-[#0e1323] to-[#1a2440]"
  >
    <main class="flex-grow p-4">
      <slot />
    </main>
    <footer class="px-4 py-8 text-center bg-[#0a0f1b]">
      <nav
        class="container mx-auto flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
      >
        <p class="text-base text-white">
          Created with ❤️ by <a href="https://gfrancv.com">GFrancV</a>
        </p>

        <div class="flex items-center gap-4">
          <a
            href={discordUrl}
            class="transition-all duration-300 hover:translate-y-[-5px] inline-block"
          >
            <span class="sr-only">Discord</span>
            <Discord class="w-6 h-6 text-white" />
          </a>
          <a
            href={githubRepo}
            class="transition-all duration-300 hover:translate-y-[-5px] inline-block"
          >
            <span class="sr-only">GitHub</span>
            <Github class="w-6 h-6 text-white" />
          </a>
        </div>
      </nav>
    </footer>
  </body>
</html>

<style>
  a {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(white 20%, white 80%);
    background-size: 0 1px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion) {
    a {
      transition: none;
    }
  }
  a:hover,
  a.active {
    background-size: 100% 1px;
    background-position: 0 100%;
  }
  @media (prefers-reduced-motion) {
    a {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(white 20%, white 80%);
      background-size: 0 3px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      transition: background-size 0s;
    }
    a:hover {
      background-size: 100% 3px;
      background-position: 0 100%;
    }
  }


</style>
