---
import Discord from "../icons/Discord.astro";
import Github from "../icons/Github.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="px-4 py-8">
      <div class="flex items-center space-x-4">
        <h1>Vilbot</h1>
      </div>
    </header>
    <main class="flex-grow p-4">
      <slot />
    </main>
    <footer class="px-4 py-8 text-center">
      <nav
        class="container mx-auto flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
      >
        <p class="text-base">
          ©GFrancV - {year}
        </p>

        <div class="flex items-center gap-4">
          <a href="#">
            <span class="sr-only">Discord</span>
            <Discord class="w-8 h-8" />
          </a>
          <a href="#">
            <span class="sr-only">GitHub</span>
            <Github class="w-8 h-8" />
          </a>
        </div>
      </nav>
    </footer>
  </body>
</html>
