---
import NavbarMenu from "../components/layout/NavbarMenu.astro"
import RocketLaunchIcon from "../components/icons/RocketLaunchIcon.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-blue-1000">
		<header class="flex text-white p-4 items-center">
			<a href="/">
				<img src="/img/vilbot.png" alt="Vilbot" class="w-full max-w-52" />
			</a>
			<NavbarMenu class="grow" />
			<a href="/" class="flex gap-3">
				<RocketLaunchIcon />
				Admin Panel
			</a>
		</header>
		<main>
			<slot />
		</main>
		<footer class="text-white p-4">
			<p>&copy; {new Date().getFullYear()} My Site</p>
		</footer>
	</body>
</html>
